.has-bg-img { 
    background: url('img/battlearena_background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

body{
    background-image: url(img/battlearena_2.jpg);
    background-size: cover;
}

.has-background-brown {
    background-color: #413329;
}
